.details-container {
    margin:0 auto;
    width:70%;
    text-align: center;
    .back-button {
       text-align: left; 
    }
    .header {
        margin: 0 auto;
        div {
            display: inline-block;
            img {
               width: 20%; 
            }
        }
        div.badge span{
            background-color: rgb(50, 50, 114); 
            margin-left: 10px;
            padding: 5px;   
        }
    
    }
    .job-details {
        span{
            display: block;
            text-align: left;
        }
    }
}

