.jobs {
    display: block;
    width: 75%;
    margin: 0 auto;
    list-style-type: none;
    li {
        text-align: left;
        a {
            text-decoration: none;
            color: #fff;
            span{
                margin-right: 0;
            }
        }
        div { 
            padding: 5px;
            display: inline-block;
            img {
                width:50px;
            }
        }
    }

}